* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

header {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
}

header > section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2vh;
}

h1 {
  font-size: 40px;
}

img {
  border-radius: 1vh;
}

article {
  width: 80%;
  font-size: 28px;
}

main {
  display: flex;
  justify-content: center;
}

main > section {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

ul a {
  text-decoration: none;
  font-size: 20px;
}

ul a:hover {
  text-decoration: underline;
  
}